<div style="
    background-image : url('')
    bg-dark
    height: 100vh
    background-repeat: no-repeat
    background-size: cover
  ">

    <div class="container bg-transparent  ">
        <h1 class="text-center  padding text-black">Register</h1>

        <div class="row justify-content-center bg-dark">

            <form class="bg-transparent" action="/user/register" method="POST">
                <div class="form-group text-center">
                    <input class="form-control" name="user_name" type="text" placeholder="Enter your user name">
                </div>
                <br />
                <div class="form-group text-center">
                    <input class="form-control" name="password" type="password" placeholder="Enter your password">
                </div>
                <br />
                <div class="form-group text-center bg-transparent">
                    <button class="  btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>

</div>